<h1>Edit Event</h1>

<%= render 'calendar' %>
<%= form_for @event, url: update_event_path(@event), method: "post" do |f| %>

  <div class="input-group date" data-provide="datepicker">
    <span>Date:<br></span>
    <%= f.text_field :event_date, class: 'form-control', onClick: 'showCalendar("date-container")' %>
    <div class="popup">
      <div id="cal-container" class="cal-container">
        <div id="date-container"><i class="glyphicon glyphicon-th"></i></div>
      </div>
    </div>

  </div>
  Description: <br>
  <%= f.text_area :description, :cols => 30, :rows => 10 %> <br>
  <%= f.submit %>
<% end %>
<p>
  <%= link_to 'Return to Boards', trello_boards_path %>
</p>
