<h1>Edit Event</h1>

<%= render 'calendar' %>
<%= form_for @event, url: update_event_path(@event), method: "post" do |f| %>
  <div class="input-group date" data-provide="datepicker">
    <div class="input-append date" id="dp3" data-date-format="yyyy-mm-dd" data-date-autoclose=true>
      Date: <%= f.text_field :event_date, class: "span2", size: "16", readonly: true %>
      <span class="add-on">
      <i class="icon-th"></i>
    </span>
    </div>
  </div>
  Description: <br>
  <%= f.text_area :description, :cols => 30, :rows => 10 %> <br>
  <%= f.submit %>
<% end %>
<p>
  <%= link_to 'Return to Boards', trello_boards_path %>
</p>
