<h1>Add Event to <%= @board.name %></h1>
<%= render "calendar" %>
<%= form_for @event, url: create_event_path(@board) do |f| %>
  <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose=true>
    <div class="input-append date" id="dp3">
      Date: <%= f.text_field :event_date, class: "form-control span2", size: "16", readonly: true %>
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
  </div>
  Description: <br>
  <%= f.text_area :description, :cols => 30, :rows => 10 %> <br>
  <%= f.submit %>
<% end %>
<p>
  <%= link_to 'Return to Boards', trello_boards_path %>
</p>
