<% @cards.each do |card| %>
  <h3><%= card.id %>  <%= card.name %> Points <%= card.points %> - Last Action: <%= card.last_action_datetime %></h3>
  <% card.trello_list_changes.each do |change| %>
    <li><%= change.datetime %> - Time In <%= change.list_after_name %> : <%= (change.time_in_list / 3600).round(2) unless change.time_in_list.nil? %> Hours</li>
  <% end %>
<% end %>
