<script>
  function showEvents(divId) {
      var x = document.getElementById(divId);
      x.classList.toggle("show")
  }
  function hideEvents(divId) {
      var x = document.getElementById(divId);
      x.classList.toggle("show")
  }
</script>

<%= link_to 'Back to Boards', trello_boards_path %> <br>
Last Refresh: <%= @board.last_refresh %> <%= link_to 'Refresh', refresh_path(@board) %><br>
<%= link_to('Configure', board_configuration_edit_path(id: @board)) %><br>
<%= link_to 'Add Event', new_event_path(@board) %>
<h1><%= @board.name %></h1>
<%= @trailing_average_period %> Week Trailing Averages:
<li>
  Cards: <%= @averages[0] %>
</li>
<li>
  Points: <%= @averages[1] %>
</li>
<table>
  <tr>
    <th>Cards By Week</th>
    <th>Average Days In Lists</th>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th align="center">Week Of <span style="font-size: x-small">(Events)</span></th>
          <th align="center">Cards Completed</th>
          <th align="center">Points</th>
          <th align="center">Spikes</th>
          <th align="center">Airbrakes</th>
        </tr>
        <% @cards_by_week.each do |date,count,points,spikes,airbrakes| %>
          <tr>
            <td align="center">
              <%= date.to_date %>
                <% unless @events_by_week[date.to_date].nil? %>
                (<i onClick="showEvents('<%= date.to_date %>')"><%= @events_by_week[date.to_date].count %></i>)
                <div class="popup">
                  <span class="popuptext" id="<%= date.to_date %>" onClick="hideEvents('<%= date.to_date %>')">
                    <% @events_by_week[date.to_date].each do |e| %>
                    <li><%= e.description %>&nbsp;<br>
                      <%= link_to 'Edit', edit_event_path(e) %> &nbsp
                      <%= link_to 'Delete', delete_event_path(trello_board_id: e.trello_board_id, id: e.id), method: :delete %></li>
                  <% end %>
                  </span>
                </div>
                <% end %>
            </td>
            <td align="center"><%= link_to count, cards_path({board_id: @board.id, start_date: date}) %></td>
            <td align="center"><%= points %></td>
            <td align="center"><%= link_to spikes, cards_by_type_path({board_id: @board.id, start_date: date, card_type: 'spike'}) %></td>
            <td align="center"><%= link_to airbrakes, cards_by_type_path({board_id: @board.id, start_date: date, card_type: 'airbrake'}) %></td>
          </tr>
        <% end %>
      </table>
    </td>
    <td valign="top">
      <table>
        <tr>
          <th>Cycle Time</th>
          <% @list_average_data['lists'].each do |list| %>
            <th><%= list %></th>
          <% end %>
        </tr>
        <% @list_average_data.each do |date, data| %>
        <tr>
          <td><%= @cycle_time[date] %></td>
          <% @list_average_data['lists'].each do |list| %>
            <% next if date.to_s.match?(/lists/) %>
            <td align="center">
              <%= @list_average_data[date][list]['average'] %>
            </td>
          <% end %>
        </tr>
        <% end %>

      </table>
    </td>
  </tr>
</table>
<h2 align="center">Throughput</h2>
<%= line_chart @chart_data['throughput'] %>
<h2 align="center">Time In List</h2>
<%= line_chart @avg_graph %>


