<script>
  function showEvents(divId) {
      var x = document.getElementById(divId);
      x.classList.toggle("show")
  }
  function hideEvents(divId) {
      var x = document.getElementById(divId);
      x.classList.toggle("show")
  }
</script>
<div class="row">
  <h1><%= @board.name %></h1>
</div>
<div class="row">
  <div class="col-md-auto">
    Last Refresh: <%= @board.last_refresh %> &nbsp <%= link_to 'Refresh', refresh_path(@board) %>
  </div>
  <div class="col">
    <%= link_to('Configure', board_configuration_edit_path(id: @board)) %>
  </div>
</div>
<div class="row">
  <div class="col table-header">
    <a href="<%=@board.url + '?menu=filter&filter=label:Blocked' %>"><%= @blocked_count %></a> Cards Currently Blocked
  </div>
</div>
<div class="row">
  <div class="col table-header">
    <%= @trailing_average_period %> Week Trailing Averages:
  </div>
</div>
<div class="row">
  <div class="col">
    Cards: <%= @averages[0] %>
  </div>
</div>
<div class="row">
  <div class="col">
    Points: <%= @averages[1] %>
  </div>
</div>
<div class="row table-header">
  <div class="col">
    Burndown Charts: (<%= link_to('Add New', new_burndown_path(@board)) %>)
  </div>
</div>
<div class="row">
  <% @burndowns.each do |burndown| %>
  <div class="col-md-auto">
    <%= link_to(burndown.name, burndown_path(burndown)) %>
  </div>
  <% end %>
</div>
<div class="row table-header">
  <div class="col-md-5">
    Cards By Week (<%= link_to 'Add Event', new_event_path(@board) %>)
  </div>
  <div class="col">
    Average Days In Lists <span class="small-text">(* = Included in cycle time)</span>
  </div>
</div>
<div class="row">
  <div class="col">
    Week Of <span style="font-size: x-small">(Events)</span>
  </div>
  <div class="col">
    Cards Completed
  </div>
  <div class="col">
    Points
  </div>
  <div class="col">
    Spikes
  </div>
  <div class="col">
    Airbrakes
  </div>
  <div class="col">
    Cycle Time
  </div>
  <% @list_average_data['lists'].each do |list| %>
    <div class="col">
      <%= list %> <%= '*' if @cycle_time_lists.select { |l| l.match?(/#{list}/) }.count > 0 %>
    </div>
  <% end %>
</div>
<% @cards_by_week.each do |date,count,points,spikes,airbrakes| %>
  <div class="row">
    <div class="col-md-auto">
      <%= date.to_date %>
      <% unless @events_by_week[date.to_date].nil? %>
        (<i onClick="showEvents('<%= date.to_date %>')"><%= @events_by_week[date.to_date].count %></i>)
        <div class="popup">
          <span class="popuptext" id="<%= date.to_date %>" onClick="hideEvents('<%= date.to_date %>')">
            <% @events_by_week[date.to_date].each do |e| %>
              <li><%= e.description %>&nbsp;<br>
                <%= link_to 'Edit', edit_event_path(e) %> &nbsp
                <%= link_to 'Delete', delete_event_path(trello_board_id: e.trello_board_id, id: e.id), method: :delete %>
              </li>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col data-cell"><%= link_to count, cards_path({board_id: @board.id, start_date: date}) %></div>
    <div class="col data-cell"><%= points %></div>
    <div class="col data-cell"><%= link_to spikes, cards_by_type_path({board_id: @board.id, start_date: date, card_type: 'spike'}) %></div>
    <div class="col data-cell"><%= link_to airbrakes, cards_by_type_path({board_id: @board.id, start_date: date, card_type: 'airbrake'}) %></div>
    <div class="col data-cell"><%= @cycle_time[date] %></div>
    <% @list_average_data['lists'].each do |list| %>
      <% next if date.to_s.match?(/lists/) %>
      <div class="col data-cell">
        <%= @list_average_data[date][list]['average'] %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="row align-items-end"></div>

<div class="row table-header">
  <div class="col">
    <h2 align="center">Throughput</h2>
    <%= line_chart @chart_data['throughput'] %>
  </div>
</div>
<div class="row table-header">
  <div class="col">
    <h2 align="center">Time In List</h2>
    <%= line_chart @avg_graph %>
  </div>
</div>



