<%= link_to 'Back to Boards', trello_boards_path %> <br>
Last Refresh: <%= @board.last_refresh %> <%= link_to 'Refresh Data', refresh_path(@board) %>
<%= link_to('Configure', board_configuration_edit_path(id: @board)) %>
<h1><%= @board.name %></h1>
5 Week Trailing Averages:
<li>
  Cards: <%= @averages[0] %>
</li>
<li>
  Points: <%= @averages[1] %>
</li>
<table>
  <tr>
    <th>Cards By Week</th>
    <th>This Week</th>
    <th>Last Week</th>
    <th>All Time</th>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th align="center">Week Of</th>
          <th align="center">Cards Completed</th>
          <th align="center">Points</th>
          <th align="center">Spikes</th>
          <th align="center">Airbrakes</th>
        </tr>
        <% @cards_by_week.each do |date,count,points,spikes,airbrakes| %>
          <tr>
            <td align="center"><%= date.to_date %></td>
            <td align="center"><%= link_to count, cards_path({board_id: @board.id, start_date: date}) %></td>
            <td align="center"><%= points %></td>
            <td align="center"><%= link_to spikes, cards_by_type_path({board_id: @board.id, start_date: date, card_type: 'spike'}) %></td>
            <td align="center"><%= link_to airbrakes, cards_by_type_path({board_id: @board.id, start_date: date, card_type: 'airbrake'}) %></td>
          </tr>
        <% end %>
      </table>
    </td>
    <td valign="top">
      <% @recent_lists.each do |list, values| %>
        <li><%= list %> --> <%= (((values['total']/values['count'])/3600)/24).round(2) %> Days</li>
      <% end %>
    </td>
    <td valign="top">
      <% @p_week.each do |list, values| %>
        <li><%= list %> --> <%= (((values['total']/values['count'])/3600)/24).round(2) %> Days</li>
      <% end %>
    </td>
    <td valign="top">
      <% @lists.each do |list, values| %>
        <li><%= list %> --> <%= (((values['total']/values['count'])/3600)/24).round(2) %> Days</li>
      <% end %>
    </td>
  </tr>
</table>
<%= line_chart [
    {name: 'Cards', data: @chart_data['cards']},
    {name: 'Points', data: @chart_data['points']},
    {name: 'Spikes', data: @chart_data['spikes']},
    {name: 'Airbrakes', data: @chart_data['airbrakes']}
               ] %>


