<%= link_to 'Return To Board', trello_board_path(@board) %>

<h1><%= @board.name %></h1>
<div>
  <%= form_with(url: board_configuration_update_url(id: @board.id), method: "post") do |w| %>
    <div>
      <b>Define "Done Column"</b><br>
      <% @lists.each do |list| %>
          <%= w.radio_button :done_list_id, list['id'], :checked => BoardConfiguration.config_by_board_type_value(@board.id, 'done_list_id', list['id']).count > 0 ? true : false %> <%= list['name'] %> <br>
      <% end %>
    </div>
    <div>
      <b>Define "Review Column"</b><br>
      <% @lists.each do |list| %>
        <%= w.radio_button :review_list_id, list['id'], :checked => BoardConfiguration.config_by_board_type_value(@board.id, 'review_list_id', list['id']).count > 0 ? true : false %> <%= list['name'] %> <br>
      <% end %>
    </div>
    <%= w.submit %>
  <% end %>
</div>
