<div>
  <h1>Burndown Chart <%= @burndown.name %></h1>
  <p><%= link_to('Edit Config', edit_burndown_path(@burndown)) %> <%= link_to('Back to board', trello_board_path(@board)) %> <%= link_to('Refresh Board', refresh_path(@board)) %></p>
  <div class="content">
    <h2 align="center">Burndown</h2>
    <%= line_chart @chart_data %>
  </div>
</div>
